
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  max-height: 900px;
  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: unset;
    display: flex;
    flex-direction: column;
  }
  .form-container {
    margin-top: 3rem;
    padding: 3rem 2rem 3rem;
    box-shadow: 1px 3px 6px $color-secondary;
    max-height: 650px;
    grid-row: 1/3;

    h3{
      text-align: center;
      text-shadow: none;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    @media (max-width: 1080px) {
      grid-row: unset;
      margin-bottom: 3rem;
    }

    @media (max-width: 500px) {
      padding: 5rem 0 3rem;
      box-shadow: none;
    }

    button {
      color: #fff;
      text-decoration: none;
      background-color: $color-primary;
      text-transform: uppercase;
      font-weight: 800;
      padding: 1rem 3rem;
      border-radius: 17px;
      margin-top: 3rem;
      display: block;
      margin: 0 auto;
      &:hover {
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
