.partners {
  h2 {
    text-align: center;
    padding: 2rem 0;
  }
  .list {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-evenly;
    span {
      display: inline-block;
    }
  }
}
