.landing-screen{
    width: 100%;
    background-color: $color-secondary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2% 6%;
    position: relative;
    &::after{
        @media (min-width: 1081px){
            content: "";
            width: 150%;
            background-color: white;
            height: 200px;
            position: absolute;                 //ako bude i dalje razvlacilo na malim ekranima pokusati napraviti media q za after
            bottom: -100px;
            transform: rotate(3deg);
            overflow: hidden;
        }
    }
    @media (min-width: 1081px) and (max-width: 1400px){
        justify-content: space-around;
    }
    @media (max-width: 1080px) {
        background-color: unset;
        padding: 0;
    }
    @media (min-width: 1081px) {
        height: 95vh;
     
    }
    .header{
        width: 65%;
        z-index: 2;
        position: absolute;
        @media (min-width: 1300px) and (max-width: 1400px){
            width: 35%;
        }
        @media (min-width: 1081px){
        padding: 2rem;
        position: static;
        }
        h1{
            margin: 0 auto;
            text-shadow: 0 3px 6px $color-secondary;
            
            @media (max-width: 1080px) {
                padding: 6% 2%;
                text-align: center;
            }
        }
    }
    .carousel-shadow{
      
        @media (max-width: 1080px){
        z-index: 1;
        width: 100%;
        }
        @media (min-width: 1081px){
        width: 488px;
        background-color: $color-secondary-light;
        padding:  5rem 3rem 5rem 0;
        position: static;
        }
    }
    .carousel{
        max-height: 974px;
        max-height: 94vh;
        overflow: hidden;
        
        @media (min-width: 1081px){
            max-width: 416px;
            height: 80%;
            border: 4px solid #FFF;
            left: -5rem;
        }
        
        &-control-prev, &-control-next{
            display: none;
        }
        &-item{
            .carousel-image{
                width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.34);
                @media (min-width: 1081px){
                    width: 408;
                    height: 542px;
                    box-shadow: none;
                }
            }
        }
        &-indicators{
            button{
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }
}
