.projects {
  width: 100%;
  color: $color-secondary;
  padding: 3rem 5%;
  @media (max-width: 1080px) {
    padding: 3rem 0;
  }
  h2 {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
  }
  .carousel {
    &-inner {
      width: 100%;
    }
    &-item {
      width: 100%;
      //   &::before {
      //     content: "1";
      //     font-size: 17rem;
      //     color: #000;
      //     position: absolute;
      //     top: -10rem;
      //   }
      .item-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        @media (max-width: 1080px) {
          grid-template-columns: 1fr;
        }
      }
    }
    &-indicators {
      display: none;
    }
    &-control-prev {
      position: absolute;
      right: calc(13% + 70px);
      left: unset;
      opacity: 1;
      width: unset;
      bottom: 2rem;
      top: unset;
      @media (max-width: 1080px) {
        display: none;
      }
      span {
        background-color: $color-primary;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &-control-next {
      position: absolute;
      right: 13%;
      left: unset;
      opacity: 1;
      padding: 0;
      width: unset;
      bottom: 2rem;
      top: unset;
      @media (max-width: 1080px) {
        display: none;
      }
      span {
        background-color: $color-primary;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  .carousel-image {
    width: 100%;
    height: 550px;
    max-width: 900px;
    background-position: center;
    background-size: cover;
    @media (max-width: 1080px) {
      height: 50vh;
    }
  }
  .carousel-text {
    margin: 0 2rem;
    @media (max-width: 1080px) {
      margin: 1rem 2rem;
    }
  }
}
